---
title: coala GSoC project reports
---

<h1>{{ page.title }}</h1>

<h2>2018</h2>

<ul>
  {% for report in site.reports %}
    {% capture year %}{{ report.date | date: '%Y' }}{% endcapture %}
    {% if year == '2018' %}
      <li><a href="{{ report.url }}.html">{{ report.student }}</a>
    {% endif %}
  {% endfor %}
</ul>

<h2>2017</h2>

<ul>
  {% for report in site.reports %}
    {% capture year %}{{ report.date | date: '%Y' }}{% endcapture %}
    {% if year == '2017' %}
      <li><a href="{{ report.url }}.html">{{ report.student }}</a>
    {% endif %}
  {% endfor %}
</ul>
