.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.tabs .tab a {
  color: lightslategrey !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: black !important;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.7);
  cursor: default;
}
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black !important;
  will-change: left, right;
  margin-left: 3em;
  margin-right: 3em;
}
.title{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 14em;
  font-weight: 100;
  text-align: center;
}
.title-get-involved{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
}
.main-content{
  margin-top: 2em;
}
.logo{
  height:15em;
  margin-top: 4em;
}
.tabs{
  font-family: Roboto;
  font-size: 1em;
  letter-spacing: 0.1em;
}
.description{
  font-family: Roboto;
  font-size: 1.6em;
  text-align: center;
  font-weight: 300;
  text-transform: none !important;
}
pre{
  padding: 0px;
}
.tip{
  font-size: 1.2em;
}
.tip-small{
  font-size: 1em;
}
.terminal-install{
  margin-top: 1em;
}
.dev-row{
  border-top: 1px solid lightgrey;
  padding-left:0em;
  padding-right: 0em;
  margin-bottom: 0px !important;
  padding-top: 1em;
  padding-bottom: 1em;
}
.no-border{
  border-top: 0px !important;
}
span.caret {
  color: initial;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 10px;
  padding-left: 10px;
}
.example-card{
  padding:2em;
}
.example-select{
  padding:2em;
}
.footer-text{
  text-align: center;
  color: lightslategrey;
  font-family: Roboto;
  padding: 1em;
}
.ft-span{
 letter-spacing: 0.1em;
}
.container-title{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 3em;
  font-weight: 100;
}
body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}
main {
  flex: 1 0 auto;
}
footer.page-footer
{
  margin-top:20px;
  padding-top:20px;
  background-color:#fff !important
}
footer.page-footer .footer-copyright{
  overflow:hidden;
  height:50px;
  line-height:50px;
  color:lightslategrey !important;
  background-color:#fff !important
}
#search{
  font-size: 24px !important;
  border: none !important;
  font-family: Roboto !important;
  font-weight: 500;
  color: black !important;
  box-shadow: none !important;
}
.btn:hover, .btn-large:hover{
  background-color: #424242 !important;
}
.btn, .btn-large{
  background-color: black !important;
}
::-webkit-input-placeholder {
  font-weight: 200;

  color: #9e9e9e ;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 200;

  color: #d1d1d1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 200;

  color: #d1d1d1;
}
:-ms-input-placeholder {
  font-weight: 200;

  color: #d1d1d1;
}
.card-title{
  overflow-wrap: break-word !important;
  padding: 0.5em;
  text-align: center;
}
.card-action span{
  display: inline-block;
}
.footer-coala{
  font-size: 42px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-weight: 100;
  vertical-align: text-bottom;
}
.footer-coala-row{
  margin: 0 !important;
}
.snippet-card{
  white-space: pre-line !important;
}
.showcase{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4em;
}

.showcase-card{
  width: 300px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-bear{
  font-size: 22px !important;
}
.markdown  p {
  display: block !important;
}
a > .card{
  color: black !important;
}
a:hover > .card{
  color: black !important;
}
.modal{
  width: 90% !important;
  border-radius: 0px !important;
  max-width: 1200px;
}
.profile{
  background-color: #000;
  color: #fff;
}
.dashboard{
  background-color: darkslategrey;
}
.modal-content-bear{
  display: flex
}
.project-name{
  font-size: 2em;
  text-align: center;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0.1em;
  font-weight: 100;
  overflow-wrap: break-word;
}
.project-description{
  color: lightgrey;
  text-align: justify;
  font-size: 1.1em;
  font-family: Roboto;
  font-weight: 300;
  padding: 1em;
}
.project-card-detail{
  cursor: pointer;
  height: 200px;
}
.project-description > p > a{
  color: cornsilk
}
.project-description > p > a:hover{
  opacity: 0.7;
}
.markdown  a{
  color: azure;
}
.markdown a:hover{
  opacity: 0.7;
}
.pr-element-detail{
  font-size: 1em;
}
.small-heading{
  font-size: 0.9em;
  padding: 0.5em;
  font-weight: 400;
  color: lightgoldenrodyellow;
  letter-spacing: 0.1em;
}
.authors{
  font-size: 14px;
  color: wheat;
  font-weight: 400;
}
.author-row{
  padding-top: 20%;
}
.showcase-gi{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}
.showcase-card-gi{
  width: 220px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
a > .card{
  color: black !important;
}
a:hover > .card{
  color: black !important;
}
.profile-img{
  margin-top: -5em;
  border-radius: 100%;
}
.empty{
  background-color: #eceff1  !important;
  height: 5em;
}
.profile-data{
  background-color: #263238 !important;
  color: white;
}
.person-name{
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}
.small-heading-light{
  font-size: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  color: lightgray;
  font-weight: 500;
  opacity: 0.2;
}

.person-contributions{
  margin-top: 2em;
  text-align: center;
  letter-spacing: 0.1em;
}
.person-github-id{
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  text-transform: none !important;
  font-family: 'Roboto Mono', menlo, monospace;
}
.person-github-bio{
  font-size: 0.8em;
  text-align: center;
  padding-top: 0.5em;
}
.person-github-id-div{
  padding: 0.5em;
  text-align: center !important;
}
.github-link{
  bottom:0;
  margin-top: 1em;
}
.gi-container-title{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
}
.main-content-faq{
  padding: 4em;
}
.gi-container-title-header{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 6em;
  font-weight: 200;
  text-align: center;
}
.contributions-row{
  margin-bottom: 0px !important;
  position: absolute;
  text-align: center;
  width: 180px;
  bottom: 0;
  padding-bottom: 1em;
}
.reqs-proj > .chip{
  border-radius: 0 !important;
}
.medium-heading{
  font-size: 1.3em; 
  padding: 0.5em;
  font-weight: 400;
  color: lightgoldenrodyellow;
  letter-spacing: 0.1em;
}
.mentors-github-id{
  font-size: 1.2em ;
  color: darkcyan !important;
  text-transform: none !important;
  font-family: 'Roboto Mono', menlo, monospace;
}
.mentors-github-id:hover{
  color: black !important;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: lightgray;
  padding-left: 0.5em !important;
}
.markdown h4 {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: wheat;
  text-transform: uppercase;
}
.markdown h5 {
  font-size: 1em;
  letter-spacing: 0.1em;
  color: wheat;
}
.markdown ul li{
  margin-left: 1em;
}
.markdown li{
  list-style-type: disc !important;
}
.modal{
  top: 5% !important;
}
.tabs .col-md-4{
  position: initial !important;
}
@media only screen and (max-width: 500px) {
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black !important;
    will-change: left, right;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
.markdown-reqs p{
  display: initial !important;
}
.markdown-reqs a{
  color: mediumaquamarine;
}
.markdown-reqs a:hover{
  opacity: 0.7;
}
ul:not(.browser-default) {
  margin-left: 1em !important;
}
ul:not(.browser-default) li {
  margin-left: 1em;
}
.showcase-gi .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0 !important;
}
.project-overview-element{
  padding: 10px !important;
}
.req-ul li{
  list-style-type: disc !important;
}
.collapsible-body p {
  margin: 0;
  padding: 0.5em !important;
}
.collapsible-body li {
  list-style-type: disc !important;
}
.clickable{
  cursor: pointer;
}
.project-card-detail .markdown a {
  color: darkcyan;
}
.arrows {
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:transparent;
  z-index: 9999;
  padding-top: 1em;
}
.arrow-click{
  font-size: 2em !important;
  color: lightgrey;
  cursor: pointer
}
.arrow-click:hover{
  color: lightblue !important;
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.crowded{
  background: red !important;
  text-align: center;
  color: white;
}
.completed{
  background: lightseagreen !important;
  text-align: center;
  color: white;
}
.in-progress{
  background: yellow !important;
  text-align: center;
  color: black;
}
.status-title{
  letter-spacing: 0.1em;
  font-weight: 400;
}
.status-subtitle{
  font-size: 0.8em !important;
}
