<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved" >Hello there!</div>
            <br>
            <div class="description">
                We are the mentors for SIB Swiss Institute of Bioinformatics in GSoC 2017.<br>
                Join the <a href="https://sib-gsoc-students-17.slack.com/shared_invite/MTMwMjg4MDIwMDM3LTE0ODQ5MDY1NzAtZGRjMWQxZTQ2MQ" class="bear-link" >sib-gsoc-students-17</a> slack team to chat with us<br>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row showcase-gi">
            <div  ng-repeat="member in gic.mentorsList" class="card card-main showcase-card-gi">
                <div class="empty"></div>
                <div class="card-action profile-data" >
                  <center><img class="profile-img" height="100" ng-src="{{ member.github_avatar_url }}"></center>
                  <div class="person-name">{{ member.name }}</div>
                  <div class="person-github-id-div"><a class="person-github-id" ng-href="https://github.com/{{member.github_handle}}">@{{ member.github_handle }}</a></div>
                  <div class="person-github-bio">{{ member.bio }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
